:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display" serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
.hero {
  background: #ccb59d;
  text-align: center;
  padding: 120px 20px;
}
.hero p {
  font-size: 36px;
  font-family: var(--default-font-family);
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h1 {
  font-size: 94px;
  font-weight: 700;
  font-family: var(--heading-font-family);
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.7;
  color: #272142;
}
.btn-branding,
.btn-project {
  background: #6e6864;
  color: white;
  border-radius: 8px;
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  padding: 15px 40px;
}
.feature {
  color: #272142;
  text-align: center;
  font-family: var(--default-font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.heading {
  color: #000;
  font-family: var(--heading-font-family);
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
p {
  color: rgba(39, 33, 66, 0.7);
  font-family: var(--default-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.view-button-tz {
  background: #328dc6;
  color: beige;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none !important;
  background: #328dc6;
  color: beige;
}
.view-button-weather {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none !important;
  background: #d0e5f0;
  color: darkblue;
}
.view-button-coffee {
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  background: #8a623c;
  color: beige;
  text-decoration: none !important;
}
.view-button {
  border-radius: 4px;
  color: rgba(108, 99, 255, 1);
  background: white;
  border: 1px solid var(--primary-color);
  padding: 18px 30px;
}

@media (max-width: 900px) {
  .hero {
    text-align: center;
    padding: 65px 40px;
  }
  h1,
  h2,
  h2 {
    text-align: center;
  }
  .hero h1 {
    font-size: 60px;
  }
  .feature {
    font-size: 20px;
  }
  .heading {
    font-size: 50px;
  }
  .container {
    text-align: center !important;
    font-size: 18px;
  }
  .view-button {
    text-align: center;
  }
  .view-button-coffee,
  .view-button-tz,
  .view-button-weather,
  .btn-branding,
  .btn-project {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  .contact-container body {
    text-align: center;
    padding: 0;
  }
  nav a {
    color: red;
    font-size: 29px;
  }
  .content h1 {
    font-size: 10px;
    color-scheme: blue;
  }
}

.content-container h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  font-weight: 400;
}
.content-container h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
}
.content-container p {
  color: rgba(39, 33, 66, 0.7);
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 16px;
}

.contact-container {
  background-color: lavenderblush;
}
.contact-container h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: 700;
}
.contact-container h2 {
  font-weight: 700;
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: 700;
}
.contact-container p {
  color: rgba(39, 33, 66, 0.7);
  font-family: var(--default-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.contact-btn {
  border-radius: 4px;
  background: #6c63ff;
  padding: 18px 30px;
  color: white;
}
.icons {
  display: flex;
  justify-content: center;
  transition: ease-in-out all 200ms;
}
.fa-brands:hover {
  transform: scale(2.6);
}
.content h1 {
  font-family: "Playfair Display " serif;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
}
.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}
.content p {
  color: rgba(39, 33, 66, 0.7);
  font-family: var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: right;
  padding: 30px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 30px;
}

nav a {
  font-size: 16px;
  font-family: "poppins";
  font-weight: 500;
  text-decoration: none;
  color: rgba(39, 33, 66, 0.7);
  transition: 100ms all ease-in-out;
}
nav a:hover,
nav li.active a {
  color: #6c63ff;
}
